# System-specific files
.DS_Store

# Bluehost and CPanel system files
.cpanel.yml

# SSL and verification folders
.well-known/

# Deployment logs
cron-deploy.log

# If these are ONLY for deployment and not tracked by GitHub
# Uncomment the lines below if you're not pushing these folders to GitHub
# cookies/
# cookies_dev/

# If any temporary commits or debug SHA files
*.log
*.tmp
*.bak
